C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\train_data_for_shallow_2x5/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_data_for_shallow/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_data_for_shallow_2x5/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_data_for_shallow_4/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_data_for_shallow_6x5/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_test_data_for_shallow/
C:\Users\25822\Desktop\CVProj\Art-Style-Classification\artnet-app\resnet50\resnet_test_data_for_shallow_4/
models/